body {
    background-color:  #ffd6e4ff;

}
/* 
/* CSS HEX 
--carnation-pink: #ffadc9ff;
--orchid-pink: #ffc2d6ff;
--rosy-brown: #bd9ea0ff;
--liver: #754f44ff;
--butterscotch: #db9b57ff;
--moss-green: #908451ff; 

/* Light Mode 
--mimi-pink: #ffd6e4ff;
--rosy-brown: #bd9ea0ff;
--liver: #754f44ff;
--butterscotch: #db9b57ff;
--moss-green: #908451ff;

Dark Mode
--russian-violet: #3a015cff;
--palatinate: #4f0147ff;
--dark-purple: #35012cff;
--dark-purple-2: #290025ff;
--dark-purple-3: #11001cff;

*/

@font-face {
    font-family: 'modesto'; 
    src: url('./fonts/modesto') format('truetype');
    font-weight: 100 900; /* Variable font weight range */
    font-style: normal;
}
@font-face {
  font-family: 'baskervville';
  src: url('./fonts/Baskervville-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900; /* Variable font weight range */
  font-style: normal;
}

/* Italic */
@font-face {
  font-family: 'baskervville';
  src: url('./fonts/Baskervville-Italic-VariableFont_wght.ttf') format('truetype');
  font-weight: 100 900;
  font-style: italic;
}


@font-face {
  font-family: 'scala';
  src: url('./fonts/ufonts.com_scala-sans-regular.ttf') format('truetype');
  /*font-weight: 100 900;*/
  font-style: normal;
}


h1,h2 {
  font-family: "baskervville";
  font-size: 50px;
  color: #db9b57ff;
  font-weight: bold;

}
h1{
    font-size: 100px;
}
p, li {
  font-family: "scala";
  color: #908451ff;
  font-weight:normal;
}


footer p {
  font-family: "scala";
  color: whitesmoke;
  font-weight:small;
}

#center {
  text-align: center;
}
footer {

    /*position: fixed;*/
  background-color: #db9b57ff;
    /*bottom:0;*/
}

/* From Uiverse.io by andrew-demchenk0 */ 
.switch {
  font-size: 17px;
  position: relative;
  display: inline-block;
  width: 64px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #73C0FC;
  transition: .4s;
  border-radius: 30px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 30px;
  width: 30px;
  border-radius: 20px;
  left: 2px;
  bottom: 2px;
  z-index: 2;
  background-color: #e8e8e8;
  transition: .4s;
}

.sun svg {
  position: absolute;
  top: 6px;
  left: 36px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

.moon svg {
  fill: #73C0FC;
  position: absolute;
  top: 5px;
  left: 5px;
  z-index: 1;
  width: 24px;
  height: 24px;
}

/* .switch:hover */.sun svg {
  animation: rotate 15s linear infinite;
}

@keyframes rotate {
 
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}

/* .switch:hover */.moon svg {
  animation: tilt 5s linear infinite;
}

@keyframes tilt {
 
  0% {
    transform: rotate(0deg);
  }

  25% {
    transform: rotate(-10deg);
  }

  75% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(0deg);
  }
}

.input:checked + .slider {
  background-color: #183153;
}

.input:focus + .slider {
  box-shadow: 0 0 1px #183153;
}

.input:checked + .slider:before {
  transform: translateX(30px);
}